<h1 id='animal_name'><%= @animal.name %></h1>
<!-- <p><%#= @animal.name %> is a <%#= @animal.age %> year old <%#= @animal.species.name %>. They are very nice.</p> -->

<p id='animal_description'></p>

<%= javascript_include_tag 'animal' %>
